@import "../../../mixins";

:host {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
  gap: 64px;
}

section {
  display: flex;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  overflow: hidden;
}

a {
  flex-grow: 1;
  text-align: center;
  display: block;
  padding: 16px 8px;
  background-color: $accent;
  color: $onAccent;

  &.selected {
    background-color: $primary;
    color: $onPrimary;
    box-shadow: inset $boxShadow1;
  }
}

app-buses-list, app-stops-list, app-routes-list {
  width: 100%;
  max-width: 500px;
}
