@import "../../../mixins";

:host {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}

div {
  display: grid;
  grid-template-areas: "type type type favorite goto" "number number number favorite goto" "start divider end favorite goto";
  grid-template-columns: auto auto 1fr auto auto;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: $secondaryBackground;
  color: $onSecondaryBackground;
  padding: 8px 16px;
  box-shadow: $boxShadow1;
  border-radius: 8px;
  gap: 16px;
}

.type {
  grid-area: type;
}

.number {
  grid-area: number;
}

.start {
  grid-area: start;
}

.end {
  grid-area: end;
  text-overflow: ellipsis;
  overflow: hidden;
}

.icon {
  border-radius: 50%;
  font-size: 32px;
  width: 48px;
  height: 48px;
  padding: 8px;
  cursor: pointer;
}

span {
  grid-area: favorite;
  background-color: $accent;
  color: $onAccent;
}

a {
  grid-area: goto;
  background-color: $primary;
  color: $onPrimary;
}
