$primary: #3F51B5;
$accent: #FF4081;
$background: #121212;
$secondaryBackground: #212121;
$onPrimary: #FFFFFF;
$onAccent: #FFFFFF;
$onBackground: #FFFFFF;
$onSecondaryBackground: #FFFFFF;

$boxShadow1: 0px 2px 4px rgba(0, 0, 0, 0.5)
