<section>
  <a routerLinkActive="selected" routerLink="/find/stops">{{'STOPS' | translate}}</a>
  <a routerLinkActive="selected" routerLink="/find/buses">{{'BUSES' | translate}}</a>
</section>

<ng-container *ngIf="listType$ | async as listType">
  <ng-container *ngIf="listType == 'buses'">
    <section class="types" *ngIf="busTypes$ | async as types">
      <a
        *ngFor="let type of types"
        routerLinkActive="selected"
        [routerLink]="'/find/buses/' + type | lowercase">
        {{type | translate}}
      </a>
    </section>
  </ng-container>

  <app-buses-list *ngIf="listType == 'buses'" urlPrefix="/find/" urlSuffix="stops" [buses]="$any(items$ | async)"/>
  <app-stops-list *ngIf="listType == 'stops'" urlPrefix="/find/" [stops]="$any(items$ | async)"/>
</ng-container>
